.organization-page__wrapper {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.organization-page__side-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--content-gap);
}
