.MuiButton-root {
  min-width: max-content;
}
.MuiTableRow-root:hover {
  background-color: lightblue;
  cursor: pointer;
}

.MuiTableCell-root.MuiTableCell-head {
  font-weight: bold;
}

.MuiButtonBase-root.MuiIconButton-root {
  border-radius: 4px;
}
