@import url('./assets/variables.css');
@import url('./assets/mui.css');

* {
  box-sizing: border-box;
}

.app-title-banner {
  margin: 10px;
  margin-left: 0;
  padding: 10px;
}

.typography-blue {
  color: blue;
}
